# <span style="color:red">Ultimate Guide for Web Scraping using BeautifulSoup</span>

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

<span style='color:blue'>There are various website who doesn't allows API access to users but if you still need the data for some purpose. Then you can use Web Scraping to Scrape the data out of any website using HTML tags and classes present in the Website and create a DataFrame from it and perform all the analysis that can be performed on any PD DataFrame. </span>

In [2]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.79 Safari/537.36'}

webpage = requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers=headers).text

<span style='color:blue'>You need to mention above line make it look like a browser request so the request will look human. Otherwise website will consider as a request made via a bot and deny the request. </span>

In [3]:
soup = BeautifulSoup(webpage, 'lxml')

In [4]:
company = soup.find_all('div', class_='companyCardWrapper')

In [5]:
print(len(company))

20

In [6]:
import numpy as np

In [7]:
name = []
rating = []
review_count = []
hrf = []
crf = []
details = []
jobs = []

for i in company:
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text.strip())
    review_count.append(i.find('span', class_='companyCardWrapper__ActionCount').text.strip())
    try:
        hrf.append(i.find_all('span', class_='companyCardWrapper__ratingValues')[0].text.strip())
    except:
        hrf.append(np.nan)
    try:
        crf.append(i.find_all('span', class_='companyCardWrapper__ratingValues')[1].text.strip())
    except:
        crf.append(np.nan)
    details.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
    jobs.append(i.find('span', class_='companyCardWrapper__ActionCount').text.strip())
    
    
data = {"name": name, "rating":rating, "reviews" : review_count, "highly rated for":hrf, "critically rated for":crf, "details":details, "jobs":jobs}

df = pd.DataFrame(data)

df

,name,rating,reviews,highly rated for,critically rated for,details,jobs
0,TCS,3.8,72.1k,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",IT Services & Consulting | 1 Lakh+ Employees |...,72.1k
1,Accenture,4.0,45.6k,"Company Culture, Job Security, Skill Developme...",NaN,IT Services & Consulting | 1 Lakh+ Employees |...,45.6k
2,Cognizant,3.9,41.1k,Skill Development / Learning,Promotions / Appraisal,IT Services & Consulting | 1 Lakh+ Employees |...,41.1k
3,Wipro,3.8,38.3k,Job Security,"Promotions / Appraisal, Salary & Benefits",IT Services & Consulting | 1 Lakh+ Employees |...,38.3k
4,HDFC Bank,3.9,33.4k,"Job Security, Skill Development / Learning",Promotions / Appraisal,Banking | 1 Lakh+ Employees | Public | 30 year...,33.4k
5,ICICI Bank,4.0,33.1k,"Job Security, Skill Development / Learning, Co...",NaN,Banking | 1 Lakh+ Employees | Public | 30 year...,33.1k
6,Infosys,3.8,31.3k,"Job Security, Company Culture, Skill Developme...","Salary & Benefits, Promotions / Appraisal",IT Services & Consulting | 1 Lakh+ Employees |...,31.3k
7,Capgemini,3.8,29.2k,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",IT Services & Consulting | 1 Lakh+ Employees |...,29.2k
8,HCLTech,3.6,28k,Job Security,"Promotions / Appraisal, Salary & Benefits, Wor...",IT Services & Consulting | 1 Lakh+ Employees |...,28k
9,Tech Mahindra,3.7,27.2k,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,IT Services & Consulting | 1 Lakh+ Employees |...,27.2k
10,Genpact,3.9,25.8k,"Job Security, Skill Development / Learning, Wo...","Salary & Benefits, Promotions / Appraisal",IT Services & Consulting | 1 Lakh+ Employees |...,25.8k
11,Axis Bank,3.8,21.7k,Job Security,NaN,Banking | 50k-1 Lakh Employees | Public | 31 y...,21.7k
12,Teleperformance,3.6,21.6k,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,BPO | 50k-1 Lakh Employees | Forbes Global 200...,21.6k
13,Concentrix Corporation,3.9,21.5k,"Job Security, Company Culture","Promotions / Appraisal, Salary & Benefits",BPO | 50k-1 Lakh Employees | Public | 41 years...,21.5k
14,Amazon,4.1,20.5k,"Company Culture, Salary & Benefits, Work Life ...",NaN,Internet | 1 Lakh+ Employees | Public | 30 yea...,20.5k
15,Reliance Jio,4.0,20.4k,"Job Security, Skill Development / Learning",Promotions / Appraisal,Telecom | 50k-1 Lakh Employees | Public | 17 y...,20.4k
16,IBM,4.1,19.5k,"Work Life Balance, Job Security, Skill Develop...",Promotions / Appraisal,IT Services & Consulting | 1 Lakh+ Employees |...,19.5k
17,Reliance Retail,3.9,18.5k,"Skill Development / Learning, Job Security",Promotions / Appraisal,Retail | 1 Lakh+ Employees | 18 years old | Na...,18.5k
18,Larsen & Toubro Limited,4.0,18.5k,"Job Security, Skill Development / Learning",NaN,Engineering & Construction | 10k-50k Employees...,18.5k
19,HDB Financial Services,4.0,17.9k,"Skill Development / Learning, Job Security, Co...",Promotions / Appraisal,NBFC | 1 Lakh+ Employees | 17 years old | Ahme...,17.9k

In [8]:
final = pd.DataFrame()

In [9]:
for j in range(1, 501):
    
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.79 Safari/537.36'}
    #above line make it look like a browser request so the request won't be denied
    webpage = requests.get(url, headers=headers).text
    
    soup = BeautifulSoup(webpage, 'lxml')
    
    company = soup.find_all('div', class_='companyCardWrapper')
    
    name = []
    rating = []
    review_count = []
    hrf = []
    crf = []
    details = []
    jobs = []

    for i in company:
        name.append(i.find('h2').text.strip())
        rating.append(i.find('span', class_='companyCardWrapper__companyRatingValue').text.strip())
        review_count.append(i.find('span', class_='companyCardWrapper__ActionCount').text.strip())
        try:
            hrf.append(i.find_all('span', class_='companyCardWrapper__ratingValues')[0].text.strip())
        except:
            hrf.append(np.nan)
        try:
            crf.append(i.find_all('span', class_='companyCardWrapper__ratingValues')[1].text.strip())
        except:
            crf.append(np.nan)
        details.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())
        jobs.append(i.find('span', class_='companyCardWrapper__ActionCount').text.strip())
        
        
    
    
    data = {"name": name, "rating":rating, "reviews" : review_count, "highly rated for":hrf, "critically rated for":crf, "details":details, "jobs":jobs}
    
    print(j) # It will print the counter of which page is being traversed
    
    df = pd.DataFrame(data)

    df
    
    
    final = pd.concat([final, df])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500

In [10]:
final

,name,rating,reviews,highly rated for,critically rated for,details,jobs
0,TCS,3.8,72.1k,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",IT Services & Consulting | 1 Lakh+ Employees |...,72.1k
1,Accenture,4.0,45.6k,"Company Culture, Job Security, Skill Developme...",NaN,IT Services & Consulting | 1 Lakh+ Employees |...,45.6k
2,Cognizant,3.9,41.1k,Skill Development / Learning,Promotions / Appraisal,IT Services & Consulting | 1 Lakh+ Employees |...,41.1k
3,Wipro,3.8,38.3k,Job Security,"Promotions / Appraisal, Salary & Benefits",IT Services & Consulting | 1 Lakh+ Employees |...,38.3k
4,HDFC Bank,3.9,33.4k,"Job Security, Skill Development / Learning",Promotions / Appraisal,Banking | 1 Lakh+ Employees | Public | 30 year...,33.4k
...,...,...,...,...,...,...,...
15,China Petroleum Engineering & Construction Cor...,4.1,71,"Work Satisfaction, Salary & Benefits",Job Security,Oil & Gas | 10k-50k Employees (Global) | Publi...,71
16,Nagarjuna Cements,4.0,71,"Skill Development / Learning, Job Security, Co...",Salary & Benefits,Engineering & Construction | 501-1k Employees ...,71
17,SNL Bearings,3.9,71,"Work Satisfaction, Company Culture","Promotions / Appraisal, Salary & Benefits",Industrial Machinery | 51-200 Employees | Publ...,71
18,Pacific It Consulting,4.0,71,"Salary & Benefits, Skill Development / Learnin...",NaN,Recruitment | 11-50 Employees | 32 years old |...,71
19,Jain Amar Clothing,3.3,71,"Salary & Benefits, Job Security, Promotions / ...",NaN,Fashion & Textile | 201-500 Employees | 85 yea...,71

In [11]:
final.to_csv('Ambitionbox.csv')