# <span style="color:red">Ultimate Guide to working with JSON and SQL</span>

## Working with local JSON file

In [2]:
import pandas as pd

In [3]:
pd.read_json('recipe.json')

          id      cuisine                                        ingredients
0      10259        greek  [romaine lettuce, black olives, grape tomatoes...
1      25693  southern_us  [plain flour, ground pepper, salt, tomatoes, g...
2      20130     filipino  [eggs, pepper, salt, mayonaise, cooking oil, g...
3      22213       indian                [water, vegetable oil, wheat, salt]
4      13162       indian  [black pepper, shallots, cornflour, cayenne pe...
...      ...          ...                                                ...
39769  29109        irish  [light brown sugar, granulated sugar, butter, ...
39770  11462      italian  [KRAFT Zesty Italian Dressing, purple onion, b...
39771   2238        irish  [eggs, citrus fruit, raisins, sourdough starte...
39772  41882      chinese  [boneless chicken skinless thigh, minced garli...
39773   2362      mexican  [green chile, jalapeno chilies, onions, ground...

[39774 rows x 3 columns]

<span style="color:blue">Now the above **JSON file** is converted into a **DataFrame** and you can perform all the operations we performed in last notebook / or all the Pandas functionalities. </span>

## Working with JSON using URL

In [4]:
json_df = pd.read_json('https://api.exchangerate-api.com/v4/latest/INR')

In [5]:
json_df

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AED,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.0442
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.8770
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,1.1600
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,4.8700
ANG,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.0215
...,...,...,...,...,...,...,...
XPF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,1.3200
YER,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,2.9700
ZAR,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.2280
ZMW,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.3170
ZWL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,105.4800

In [6]:
json_df.sample(10)

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
XAF,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,7.2600
TZS,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,30.3400
SEK,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.1260
KYD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.0100
CNY,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.0866
NAD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.2280
RUB,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,1.0700
GHS,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.1460
ARS,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,9.8500
ETB,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.6800

In [7]:
json_df.iloc[1:4]

,provider,WARNING_UPGRADE_TO_V6,terms,base,date,time_last_updated,rates
AFN,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,0.877
ALL,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,1.160
AMD,https://www.exchangerate-api.com,https://www.exchangerate-api.com/docs/free,https://www.exchangerate-api.com/terms,INR,2024-01-19,1705622402,4.870

<span style="color:blue">You can also load data into **DataFrame** using an URL like this. But make sure that your URL must be returning a .json file and not any other file. And you can perform all the operations we performed in last notebook / or all the Pandas functionalities.</span>

## Working with SQL files

In [11]:
!pip install pymysql

#must exclamation is a must as it is a terminal command

Requirement already satisfied: pymysql in c:\users\abhishek\appdata\local\programs\python\python311\lib\site-packages (1.1.0)

[notice] A new release of pip is available: 23.1.2 -> 23.3.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [13]:
import pymysql

In [14]:
conn = pymysql.connect(
    host='localhost',
    user='root',
    password='password',
    database='random_data',
    charset='utf8mb4',
    cursorclass=pymysql.cursors.DictCursor
)

In [15]:
df = pd.read_sql_query("SELECT * FROM rand_table",conn)

C:\Users\Abhishek\AppData\Local\Temp\ipykernel_24200\3490384253.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM rand_table",conn)

In [16]:
df.head()

   username  passkey
0  username  passkey
1  username  passkey
2  username  passkey
3  username  passkey

<span style="color:blue"> This way you can convert your SQL database into a DataFrame and perform operations provided by Pandas. (Above given data is a dummy dataset given to make you understand the concept) </span>